.container{
	background: #f6f6f6;
}

/*************************
section
*************************/
section .col-lg-12{
}
/*************************
footer
*************************/
footer .col-lg-12{
	text-align: center;
	padding: 10px 0;
}