<!DOCTYPE html>
<html>
<head lang="pt">
    <meta charset="UTF-8">
    <title>{% block title %}3ยบ Projeto php APIs & Silex - Code Education{% endblock %}</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Produtos</h1>
            {% block content %}
            {% endblock %}
            <footer>
                <p>03 Projeto - Code Education | &copy Todos os direitos reservados</p>
            </footer>
        </div><!-- /col-md-12 -->
    </div><!-- /row -->
</div><!-- /container-fluid -->
</body>
</html>