{% extends "layout.twig" %}
{% block title %}Cadastrar de produtos{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h3>Cadastrar Produto</h3>


        <form class="form-horizontal" role="form" action="{{ path('inserir') }}" method="post">
            <div class="form-group">
                <div class="col-sm-7">
                    {{ form_widget(form) }}
                </div>
            </div>
             <button class="btn btn-success " type="submit" name="submit" >Cadastrar</button>
        </form>



        <br>
        <br>
        <br>
        <a href="{{ path('lista_page', {page:1 } ) }}"><button class="btn btn-info " type="submit" name="voltar" >Voltar para lista</button></a>
    </div><!-- /jumbotron -->
{% endblock %}