<!DOCTYPE html>
<html>
<head lang="pt">
    <meta charset="UTF-8">
    <title>{% block title %}3ยบ Projeto Doctrine & Silex - Code Education{% endblock %}</title>
    <link href="/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-md-12">

            <h1>Categorias</h1>


            {% block content %}
            {% endblock %}

        </div><!-- /col-md-12 -->
    </div><!-- /row -->
</div><!-- /container-fluid -->
</body>
</html>