{% extends "layout_Tags.twig" %}
{% block title %}Lista de produtos{% endblock %}

{% block content %}
    <div class="jumbotron">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>COD..</th>
                <th>NOME</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ tags.id }}</td>
                <td>{{ tags.name }}</td>
            </tbody>
        </table>
        <a href="{{ path('lista_tags', {page:1 }) }}"><button class="btn btn-info " type="submit" name="voltar" >Voltar</button></a>
    </div><!-- /jumbotron -->
{% endblock %}