{% extends "layout.twig" %}
{% block title %}Cadastrar de produtos{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="col-lg-12">
            <h4 align="center">Entrar na lista de Produtos</h4>
            <div class="col-lg-12">
                <h4 align="center"><a href="{{ path('lista_page', {page:1 } ) }}"><button class="btn btn-info " type="submit" name="voltar" >Lista de produtos</button></a></h4>
            </div>
         </div>
    </div><!-- /jumbotron -->

    {#<div class="jumbotron">#}
        {#<div class="col-lg-12">#}
            {#<h4 align="center">Entrar na lista de Categorias</h4>#}
            {#<div class="col-lg-12">#}
                {#<h4 align="center"><a href="{{ path('lista_category', {page:1 } ) }}"><button class="btn btn-info " type="submit" name="voltar" >Lista de Categorias</button></a></h4>#}
            {#</div>#}
        {#</div>#}
    {#</div><!-- /jumbotron -->#}


    {#<div class="jumbotron">#}
        {#<div class="col-lg-12">#}
            {#<h4 align="center">Entrar na lista de Tags</h4>#}
            {#<div class="col-lg-12">#}
                {#<h4 align="center"><a href="{{ path('lista_tags', {page:1 } ) }}"><button class="btn btn-info " type="submit" name="voltar" >Lista de Tags</button></a></h4>#}
            {#</div>#}
        {#</div>#}
    {#</div><!-- /jumbotron -->#}

{% endblock %}